@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-800 font-sans;
  margin: 0;
  min-height: 100vh;
  display: block;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  @apply text-3xl font-bold text-center;
}
